<div class="row">
    <div class="col-xs-8 chart-container" id="blocks-container">
        <div id="blocks-chart">
            <svg></svg>
        </div>
    </div>
    <div class="col-xs-4" id="blocks-data">
        <div id="summary">
            <h2>
                {{t "simulation.blocks.blocks"}}
            </h2>
            <p>
                    This is a chart with the number of <b>blocks mined</b> by every miner
            </p>
            <table class="table">
                <tr>
                    <th>{{t "simulation.blocks.total"}}:</th>
                    <td id="total-blocks"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.blocks.ratio"}}:</th>
                    <td id="block-ratio"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.blocks.head"}}:</th>
                    <td>
                        <a id="head" href=""></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>