  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-btc"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li>
              <a href="/simulation">{{t "layout.header.simulation"}}</a>
          </li>
          <li>
              <a href="/stats/network">{{t "layout.header.stats"}}</a>
          </li>
          <li>
              <a href="/getting">{{t "layout.header.gettingStarted"}}</a>
          </li>
          <li>
              <a href="/docs">{{t "layout.header.docs"}}</a>
          </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
