<div class="list-group">
    <a href="/simulation/network" class="list-group-item">{{t "layout.sidebar.network"}}</a>
    <a href="/simulation/blocks" class="list-group-item">{{t "layout.sidebar.blocks"}}</a>
    <a href="/simulation/explorer" class="list-group-item">{{t "layout.sidebar.explorer"}}</a>
</div>