<div class="list-group">
    <a href="/stats/network" class="list-group-item">{{t "layout.sidebar.network"}}</a>
    <a href="/stats/blocks" class="list-group-item">{{t "layout.sidebar.blocks"}}</a>
    <a href="/stats/explorer" class="list-group-item">{{t "layout.sidebar.explorer"}}</a>
</div>