<!-- Actual content -->
	<div id="header-container"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <div id="sidebar-container"></div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                <div id="page-container">
                    <div class="wrapper container"></div>
                </div>
            </div>
        </div>
    </div>