<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="jumbotron">
      <h1>
        <i class="fa fa-btc"></i>{{t "index.title"}} <br/>
      </h1>
      <p class="lead">
        {{t "index.description"}}<br/>
        <img src="images/btc-miner.jpg">
      </p>
      <p><a class="btn btn-lg btn-primary" href="simulation">{{t "index.button"}}</span></a></p>
    </div>
  </div>
</div>