body {
  padding-top: 80px;
  background-color: #eee;
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.jumbotron {
  text-align: center;
  background: #fff;
  img {
    width: 20%;
  }
}

.simulation-info {
  background: #fff;
  border-radius: 5px;
  font-size: 15px;
  h2 {
    font-size: 25px;
  }
  .chart-container {
    min-height: 500px;
    max-height: 650px;
    padding: 20px;
    #network-chart, #blocks-chart {
      background: #efefef;
      svg {
        border-radius: 5px;
      }
      height: 100%;
    }
  }
}

svg {
  path {
    stroke-width: 1;
    stroke: #000;
    fill: none;
  }
}