html {
  height: 100%;
}

body {
  padding-top: 80px;
  background-color: #eee;
  height: 100%;
  .container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    .row {
      height: 100%;
    }
  }
}

#content {
  height: 100%;
}

#page-container {
  height: 100%;padding-bottom: 30px;
}

#site-container {
  height: 100%;
}

.home, .simulation {
  .jumbotron {
    background: #fff;
  }
}

.home {
  .jumbotron {
    text-align: center;
    img {
      width: 20%;
    }
  }
}

.simulation {
  .jumbotron {
    overflow: hidden;
    h1 {
      font-size: 50px;
    }
    .lead {
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 25px;
    }
  }
  .svg-container {
    width: 100%;
    height: 100%;
    position: asbolute;
    text-align: center;
    svg {
      margin: auto;
      height: 300px;
      widows: 300px;
      path {
        stroke-width: 8;
        stroke: #FFF;
      }
    }
  }

  [class^="circle-"] {
    opacity: 0;
  }
  #in-progress {
    display: none;
  }
}

.simulation-info {
  background: #fff;
  border-radius: 5px;
  font-size: 15px;
  h2 {
    font-size: 25px;
  }
  .chart-container {
    min-height: 500px;
    max-height: 650px;
    padding: 20px;
    #network-chart, #blocks-chart {
      background: #efefef;
      svg {
        border-radius: 5px;
      }
      height: 100%;
    }
  }
    .controls {
      padding: 40px;
      text-align: right;
    }
  table.table-header {
    margin-bottom: 10px;
    th {
      text-align: center;
    }
  }
  table.explorer {
    overflow: hidden;
    display: block;
    width: 100%;
    margin-bottom: 0;
    tr {
      width: 100%;
      display: block;
      td, th {
        float: left;
        width: 100/5%;
      }
      td {
        text-align: right;
      }
    }
    thead, tbody {
      width: 100%;
      display: block;
    }
    #blocks-container {
      overflow-y: scroll;
      height: 100%;
      &:first-child {
        border-top: none
      }
    }    
  }
}

  #explorer {
    #explorer-title {
      padding: 0 10px;
      small {
        color: #888;
      }
      #block-search {
        margin-top: 13px;
      }
    }
  }

svg {
  path {
    stroke-width: 1;
    stroke: #000;
    fill: none;
  }
}